body {
  font-family: cursive;
  background: #5C735F;
  color: black;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 40px auto;
  padding: 40px 50px;
  background: #FDF6EC;
  border-radius: 20px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #5C735F;
}

.date {
  text-align: right;
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #5C735F;
}
.date>input{
  border-radius: 5px;
  border: 1.5px solid black;
  color: #5C735F;
}
.gratitude-input {
  height: 155px;
}
.gratitude-wrapper {
  display: flex;
  gap: 40px;
  padding: 0 20px;
}

.left-section {
  flex: 1.4;
  padding-right: 10px;
}

.right-section {
  flex: 0.9;
  padding-left: 10px;
}

.section {
  margin-bottom: 25px;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: #5C735F;
}

textarea {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1.5px dashed black;
  border-radius: 12px;
  resize: vertical;
  background: white;
  min-height: 90px;
  transition: border-color 0.3s;
}

textarea:focus {
  border-color: #5C735F;
  outline: none;
}

canvas {
  width: 100%;
  height: 220px;
  border: 1.5px dashed black;
  border-radius: 12px;
  background: #fff;
  cursor: crosshair;
}

.canvas-buttons {
  text-align: right;
  margin-top: 8px;
}

#clearCanvas {
  background: #5C735F;
  border: 1.5px solid #5C735F;
}

#clearCanvas:hover {
  border: 1.5px solid #5C735F;
  color: #5C735F;
  background: transparent;
}

.buttons {
  text-align: center;
  margin-top: 35px;
}

button {
  padding: 10px 20px;
  margin: 6px;
  font-size: 1.1rem;
  border: 1.5px solid #5C735F;
  border-radius: 8px;
  cursor: pointer;
  background: #5C735F;
  color: #FDF6EC;
  transition: background 0.3s;
}

button:hover {
  border: 1.5px solid #5C735F;
  color: #5C735F;
  background: transparent;
}

@media (max-width: 900px) {
  .gratitude-wrapper {
    flex-direction: column;
  }
}
