@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
header{
    font-size: 30px;
    width: 100%;
    height: 12vh;
    box-shadow: 0px 2px 3px rgb(58,58,58);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5C735F;
    color: #FDF6EC;
}
header>h1{
    margin-left: 20px;
    font-size: 50px;
    font-weight: 500;
}
.main-container{
    width: 100%;
    height: 88vh;
    display: flex;
    background-color: #FDF6EC;
}
.left-div
{
    outline: none;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-right: 2px solid #5C735F;
}
.left-div>h3{
    margin-top: 15px;
    font-size: 40px;
    font-weight: 200;
    color: #5C735F;
}
.left-div>form{
    border: none;
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.left-div>form>input{
    width: 85%;
    height: 35px;
    border: 2px solid #5C735F;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 20px;
    background-color: white;
}  
.left-div>form>textarea{
    width: 85%;
    height: 250px;
    border: 2px solid #5C735F;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 20px;
    background-color: white;
}
.right-div{
    width: 65%;
    height: 100%;
    color: white;
    padding: 30px;
}
.right-div>div{
    height: 40px;
    width: 90%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    background-color: darkgrey;
    overflow: auto;
}
.right-div>div>h2{
    font-size: 20px;
    font-weight: 400;
}
.right-div>div>p{
    font-size: 17px;
}
button{
    width: 100px;
    height: 35px;
    background-color: #5C735F;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
button:hover{
    color: #FDF6EC;
    background-color: transparent;
    border: 1px solid #FDF6EC;
}

